.container{
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:before{
	content: "";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
}
.loader{
	width: 2px;
	height: 20px;
	background: #ff6700;
	margin: 20px auto;
	position: relative;
	transform: scale(1,1);
	animation: loading 0.3s linear 0s infinite alternate;
}
.loader:before,
.loader:after{
	content: "";
	width: 2px;
	height: 20px;
	background: #ff6700;
	position: absolute;
	left: 50%;
	top:50%;
}
.loader:before{
	margin:-10px 0px 0px -10px;
	transform: scale(1,0.3);
	animation: loading 0.5s linear 0s infinite alternate;
}
.loader:after{
	margin:-10px 0px 0px 10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0s infinite alternate;
}
@keyframes loading{
	from{
		opacity: 0.5;
		transform: scale(1,0.5);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}