*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #b0b0b0;
}
.all_head{
	width: 100%;
	height: 40px;
	background-color: #333333;
}
.head_first{
	width: 1230px;
	height: 40px;
	margin: 0 auto;
}
.head_first .nav_first{
	float: left;
}
.head_first li{
	height: 40px;
	line-height: 40px;
	float: left;
	color: #b0b0b0;
	font-size: 12px;
	list-style: none;
}
.head_first li:hover a{
	color: white;
}
.head_first .user li:last-of-type{
	margin-right: 30px;
}
.head_first li span{
	opacity: 0.3;
	margin:0px 5px;
}
.head_first .shopping-car{
	color: #b0b0b0;
	float: right;
	width: 120px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	background-color: #424242;
	font-size: 12px;
}
.head_first .shopping-car:hover{
	color: #ff6700;
	background-color: white;
	cursor: pointer;
}
.head_first .shopping-car i{
	/*vertical-align: bottom;*/
}
.head_first .user{
	float: right;
}
.header{
	width: 1230px;
	height: 55px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 22px;
}
.header .logo{
	width: 55px;
	height: 100%;
	float: left;
}
.header .logo img{
	width: 55px;
	height: 55px;
}
.header .nav_second{
	margin-left: 122px;
	margin-top: 20px;
}
.header .nav_second ul li{
	list-style: none;
	color: #333333;
	font-size: 15px;
	float: left;
	margin-left: 20px;
}
.header .nav_second ul>li:nth-of-type(2):hover div,.header .nav_second ul>li:nth-of-type(3):hover div,.header .nav_second ul>li:nth-of-type(4):hover div,.header .nav_second ul>li:nth-of-type(5):hover div,.header .nav_second ul>li:nth-of-type(6):hover div,.header .nav_second ul>li:nth-of-type(7):hover div,.header .nav_second ul>li:nth-of-type(8):hover div,.header .nav_second ul>li:nth-of-type(9):hover div{
	cursor: pointer;
	opacity: 1;
	height: 200px;
	/*transform: translateY(200px);*/
	/*z-index: 10;*/
}
.header .nav_second ul>li:hover{
	cursor: pointer;
	color: #ff6700;
}
.header .nav_second .xiaomishouji{
	position: absolute;
	top: 137px;
	left: 0px; 
	width: 1600px;
	/*height: 200px;*/
	height: 0px;
	border-top: 1px solid rgba(0,0,0,0.1);
	opacity: 0;
	transition: height 0.3s;
	background-color: white;
}

.header .nav_second .xiaomishouji ul{
	width: 1230px;
	height: 100%;
	margin: 0 auto;
}
.header .nav_second .xiaomishouji ul li{
	float: left;
	width: 205px;
	height: 100%;
	/*border: 1px solid #000;*/
	margin-left: 0px;
	text-align: center;
	position: relative;
	/*box-sizing: border-box;*/
}
.hot:before{
	content: "热卖";
	display: block;
	width: 70px;
	height: 20px;
	border: 1px solid #ff6700;
	color: #ff6700;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 103px;
	margin-left: -35px;
	font-weight: bold;
}
.right_line:after{
	content: "";
	display: block;
	width: 1px;
	height: 100px;
	/*background-color: red;*/
	background-color: rgba(0,0,0,0.1);
	color: red;
	position: absolute;
	top: 30px;
	right: 0px;
}
.header .nav_second .xiaomishouji ul li img{
	margin-top: 30px;
	width: 150px;
	height: 100px;
}
.header .fangdajing{
	float: right;
	width: 50px;
	height: 52px;
	border: 1px solid #b0b0b0;
	border-left:  none;
	line-height: 52px;
	text-align: center;
}
.header .fangdajing:hover{
	background-color: #ff6700;
	cursor: pointer;
}
.header .fangdajing i{
	
	font-size: 30px;
	color: #616161;
}
.header .search{
	float: right;
	width: 240px;
	height: 50px;
	position: relative;
/*	text-align: center;
	line-height: 50px;*/
}
.header .search input{
	width: 240px;
	height: 50px;
}
.header .search span{
   display: inline-block;
   width: 70px;
   height: 18px;
   background-color: #eeeeee;
   color: #757575;
   font-size: 12px;
   position: absolute;
   top:20px;
   left: 80px;
   /*margin-right: 20px;*/
}
.header .search span:hover{
	background-color: #ff6700;
	color: white;
	cursor: pointer;
}
.header .search span:nth-of-type(2){
	margin-left: 85px;
}
.beijing{
	margin-top: 20px;
	width: 100%;
	background-color: #f5f5f5;
}
.shouye{
	margin-top: 20px;
	width: 1230px;
	height: 300px;
	margin:0 auto;
}
.shouye .bangzhu{
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #b0b0b0;
	font-size: 15px;
}
.shouye div{
	width: 100%;
	height:250px;
	overflow: hidden;
}
.shouye  div ul{
	width: 3690px;
	height: 100%;
	list-style: none;
	animation-name: sport;
	animation-duration: 7s;
	animation-delay: 3s;
	/*animation-timing-function: linear;*/
	animation-iteration-count: infinite;
}
@keyframes sport{
	0%{
		margin-left: 0px;
	}
	25%{
		margin-left: -1230px;
	}
	50%{
		margin-left: -1230px;
	}
	75%{
		margin-left: -2460px;
	}
	/*99%{
		margin-left: -2460px;
	}*/
	100%{
		margin-left: -2460px;
	}

}
.shouye  div  ul li{
	width: 1230px;
	height: 100%;
	float: left;
}
.shouye   div ul li img{
	width: 1230px;
	height: 100%;
}
.zizhu {
	/*margin-top: 20px;*/
	width: 1230px;
	/*height: 300px;*/
	margin:20px auto;
	font-size: 12px; 
}
.zizhu>div{
	font-size: 22px;
	color: rgba(0,0,0,0.6);
}
.zizhu ul{
	width: 1230px;
	height: 315px;
}
.zizhu ul li{
	/*margin-top: 10px;*/
	list-style: none;
	width: 307.5px;
	height: 180px;
	float: left;
	/*padding-left: 100px;*/
	box-sizing: border-box;
	/*background-color: red;*/
	text-align: center;
}
.zizhu li img{
	width:100px;
	height: 80px; 
}
.zizhu li span{
	display: block;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}


.end{
	width: 1230px;
	/*height: 500px;*/
	margin:33px auto;
	padding-bottom: 378px;
	box-sizing: border-box;
}
.end>div{
	font-size: 22px;
	color: rgba(0,0,0,0.6);
}
.end dl{
	float: left;
	margin-top: 50px;
	margin-left:  244px;
}
.end dl:nth-child(2){
	margin-left: 64px;
}
.end dl dt{
	font-size: 18px;
	margin-bottom: 20px;
} 
.end dl  dd{
	font-size: 14px;
	margin-bottom: 15px;
	color: rgba(0,0,0,0.5);
}
.end dl  dd:hover{
	color: #ff6700;
	cursor: pointer;
}
.end img{
	width: 20px;
	height:16px;
	display: inline-block;
	vertical-align: bottom;
}
.kefu{
	width: 1230px;
	margin: 0 auto;
}
.kefu .kefu_head{
	font-size: 25px;
	color: #666a6e;
}